.canvas{
    position: relative;
}

body.runtime .canvas{
    border:1px solid #ccc;
}

.canvas .colors{
    position: absolute;
    top:0;
    right:-34px;
}

.canvas .colors>div{
    width: 30px;
    height: 30px;
    background: #000;
    margin: 3px;
    border-radius: 15px;

}

.canvas .colors>div.red{
    background: red;
}

.canvas .colors>div.blue{
    background: blue;
}

.canvas .colors>div.green{
    background: green;
}