body {
    background: #aaa;
    font-family: Arial;
}

.page {
    width: 707px;
    height: 1000px;
    background: #fff;
    margin: 0 auto;
    direction: rtl;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.toolbar-control-editor{

}
.toolbar-control-editor td{
    box-sizing: border-box;
    font-size: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 5px 10px;

}
.toolbar-control-editor table{

    border-collapse: collapse;
    background: #fff;
    width: 100%;
}

.toolbar-control-editor input ,.toolbar-control-editor textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border:none;
    -webkit-appearance: none;
    outline: none;
}


.toolbar {
    z-index: 1;
    position: fixed;
    right: 0;
    top: 40px;
    bottom: 40px;
    background: #f1f1f1;
    width: 400px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    box-shadow: 1px 1px 10px #999;

}

body.runtime .toolbar{
    display: none;
}

.toolbar .header{
    padding: 20px;
}

.toolbar .item {
    height: 2rem;
    background: #fff;
    cursor: pointer;
    font-size: 12px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
}

.toolbar .item .icon{
    text-align: center;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.draggable {
    position: absolute;
    z-index: 1000;
}

.movable:hover {
    outline: 1px solid #ccc;
}

.movable {
    position: absolute;
    cursor: move;
    outline: 1px dashed #ccc;

}
body.runtime .movable{
    cursor: default;
}

.contextual.selected {
    outline: 1px solid #08c;
}

body.runtime .contextual.selected {
    outline: none;
}
body.runtime .movable:after{
    content: none;
}
.movable:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.contextual.resizable.both:hover:before, .contextual.resizable.both.selected:before {
    position: absolute;
    content: "";
    bottom: -6px;
    z-index: 1;
    right: -6px;
    width: 6px;
    height: 6px;
    border: 2px solid #08c;
    cursor: se-resize;
    border-radius: 8px;
    background: #fff;
}

.contextual.resizable.height:hover:before, .contextual.resizable.height.selected:before {
    position: absolute;
    content: "";
    bottom: -2px;
    z-index: 1;
    right: -2px;
    left: -1px;
    height: 9px;
    border-bottom: 2px solid #08c;
    cursor: s-resize;
}



.contextual.resizable.width:hover:before, .contextual.resizable.width.selected:before {
    position: absolute;
    content: "";
    top: 50%;
    width: 6px;
    z-index: 1;
    border: 2px solid #08c;
    cursor: e-resize;
    height: 6px;
    margin-top: -5px;
    right: -6px;
    border-radius: 6px;
    background: #fff;
}

body.runtime .contextual.resizable:before {
    content: none!important;
}

.thumbnails {
    width: 100px;
    position: absolute;
    left: 0;
    bottom: 30px;
    top: 30px;
    overflow: auto;
}

.thumbnails img {
    width: 100px;
}