
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

#home .project {
    display: inline-block;
    width: 100px;
    height: 50px;
    border: 1px solid #f1ebeb;
    text-align: center;
    line-height: 50px;
    margin: 10px;
    cursor: pointer;
}

#home .project > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}